{% extends "teacher_nav.html" %}

{% block content %}
<div class="content">
    <h3 class="text-center">My Attendence</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Attendence Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for u in us %}
                <tr>
                    <td>{{u.teacher_name.first_name}}</td>
                    <td>{{u.date}}</td>
                    <td>{{u.attendance}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
