{% extends "admin_nav.html" %}

{% block content %}
<div class="content">
    <h3 class="text-center">Student Attendence</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Student Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for s in st %}
                <tr>
                    <td>{{s.student_name.first_name}}</td>
                    <td>{{s.date}}</td>
                    <td>{{s.attendance}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
