{% extends "teacher_nav.html" %}

{% block content %}
<div class="content">
    <center><h2>Student Attendance</h2></center>
    <div class="card mx-auto p-4" style="max-width: 500px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <form action="{% url 'view_stud_attend' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="tse" id="l1">Select Student</label>
                <select class="form-control" name="tse" id="tse">
                    {% for t in st %}
                    <option value="{{t.user.id}}">{{t.user.first_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="sd" id="l2">Start Date</label>
                <input id="sd" class="form-control" type="date" name="sd">
            </div>

            <div class="form-group">
                <label for="ed" id="l3">End Date</label>
                <input id="ed" class="form-control" type="date" name="ed">
            </div>

            <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="b1">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
